*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1626px;
    margin: 0 auto;
}
.main-nav{
width: 100%;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between; 
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
nav{
    width: 600px;
}
ul li{
    display: inline;
    padding: 5%;
    font-size: 11px;
}
li:hover::after{
    transform: translate(-50px, 20px);
    content: "";
    height: 3px;
    width: 60px;
    background:#08A6E4;
    display: inline-block;
    position: absolute;
}
li:hover{
    cursor: pointer;
}
h2{
    font-family: 'Raleway', sans-serif;
    padding-left: 10%;
    color: #08A6E4;
    font-size: 32px;
}
.banner{
    background-image: url("../images/Background.png");
    background-size: contain;
    background-position: bottom;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner--text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin-bottom: 30%;
}
h1{
    font-size: 49px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5%;
}
p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5%;
    line-height: 1.2;
}
.first{
    font-size: 16px;
    width: 440px;
    height: 67px;
    background-color: #08A6E4;
    font-family: 'Open Sans', sans-serif;
    border-radius: 40px;
    border: 0;
    color: white;
}
.sales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 530px;
    width: 100%;
}
.sales--platform{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sales h2{
    font-size: 36px;
    color: black;
    padding-left: 0;
}
.sales--platform--first{
    position: relative;
    height: 140px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15% 10% 10% 0;
}
.sales--platform--first img{
    transform: translate(22px, -25px);
}
.sales--platform--first::before{
    position: absolute;
    top: -30px;
    left: 28px;
    content: "";
    width: 60px;
    height: 60px;
    background: #FB3B64;
    border-radius: 50px;
}
.sales--platform--first h3{
    margin-bottom: 10px;
}
h3{
font-size: 20px;
font-family: 'Raleway', sans-serif;
font-weight: 900;
letter-spacing: 8px;
text-align: center;
}
.sales--platform--first p{
font-size: 15px;
margin: 20px;
width: 100%;
color: #A5A5A5;
margin-left: 35%;
line-height: 1.2;
}
.sales--platform--second{
    position: relative;
    height: 140px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15% 10% 10% 10%;
}
.sales--platform--second img{
    transform: translate(25px, -30px);
}
.sales--platform--second::before{
    position: absolute;
    top: -30px;
    left: 28px;
    content: "";
    width: 60px;
    height: 60px;
    background: #07ACE6;
    border-radius: 50px;
}
.sales--platform--second p{
font-size: 15px;
margin-top: 20px;
text-align: center;
width: 100%;
color: #A5A5A5;
line-height: 1.2;
}
.sales--platform--third{
    position: relative;
    height: 140px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15% 0 10% 10%;
}
.sales--platform--third img{
    transform: translate(22px, -35px);
}
.sales--platform--third::before{
    position: absolute;
    top: -30px;
    left: 28px;
    content: "";
    width: 60px;
    height: 60px;
    background: #55DFB4;
    border-radius: 50px;
}
.sales--platform--third p{
font-size: 15px;
margin-top: 10px;
width: 100%;
color: #A5A5A5;
text-align: center;
line-height: 1.2;
}
.sales--platform--third h3{
    transform: translate(10px, -10px);
}
.main-content{
    height: 1400px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main--content--first{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.content--first{
    width: 1100px;
    height: 350px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.content--first--text{
 display: flex;   
 flex-direction: column;
 justify-content: space-between;
 height: 200px;
}
.content--first--text::after{
    display: block;
    content: "";
    width: 330px;
    background: #FB3B64;
    height: 5px;
}
h4{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}
.content--first--text p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    width: 350px;
    line-height: 1.2;
}
.content--first--foto img{
   height: 150px;
   width: 300px;
}
.content--first--foto{
    position: relative;
}
.content--first--foto::before{
    position: absolute;
    content: "";
    width: 180px;
    height: 180px;
    background: #FB3B64;
}
.content-second{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 1100px;
    height: 350px;
    background-color: #FFFFFF;
    margin-top: 10%;
    position: relative;
}
.content-second-text p{
    margin-bottom: 0;
    width: 400px;
    line-height: 1.2;
}
.content-second-text{
    height:300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.content-second-text::after{
    display: block;
    content: "";
    width: 330px;
    background: #08A6E4;
    height:5px;
}
.content-second img{
    z-index: 2;
}
.content-second::before{
    position: absolute;
    top: 10px;
    left: 60px;
    content: "";
    height: 300px;
    width: 300px;
    border-radius: 200px;
    background:#08A6E4;
}
.last{
    display: flex;
    width: 1100px;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10%;
}
.last-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    width: 700px;
    background-color: #FFFFFF;
}
.last-text p{
    width: 600px;
    margin-left: 5%;
}
.last-text h4{
    margin-left: 5%;;
}

.last-text::after{
    display: block;
    content: "";
    width: 330px;
    background:#55DFB4;
    height:5px;
    margin-left: 5%;
    margin-bottom: 2%;
}
.last img{
    background-color: #55DFB4;
    width: 400px;
    height: 350px;
    text-align: center;
}
.pricing--main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pricing--main h4{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    margin: 30px 0;
}
.pricing--main--boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-basic{
    border: 2px solid #FB3B64;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 372px;
    height: 485px;
    position: relative;
    margin-top: 2%;
}
.box-basic h4{
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 ;
}
.box-basic h6{
    color: #FB3B64;
    font-size: 46px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}
.box-basic p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.fa-check-square{
    color: #55DFB4;
    margin-bottom: 10px;
}
.fa-times{
    color: #EB476E;
    border: 1px solid #EB476E;
    border-radius: 2px;
}
button{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border: 0;
}
.box-basic button{
    position:absolute;
    bottom: -25px;
    background: #EB476E;
}
.box-professional{
    border: 2px solid #07ACE6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 405px;
    height: 524px;
    position: relative;
}
.box-professional h4{
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 ;
}
.box-professional h6{
    color:#07ACE6;
    font-size: 46px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}
.box-professional p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.box-professional button{
    position:absolute;
    bottom: -25px;
    background: #07ACE6;
}
.box-premium{
    border: 2px solid #55DFB4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 372px;
    height: 485px;
    position: relative;
    margin-top: 2%;
}
.box-premium h4{
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 ;
}
.box-premium h6{
    color:#55DFB4;
    font-size: 46px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}
.box-premium p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.box-premium button{
    position:absolute;
    bottom: -25px;
    background: #55DFB4;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 900px;
    height: 380px;
}
.contact-boxes-questions-text{
    display: flex;
    flex-direction: row;
}
.contact-boxes-questions-text p:first-of-type{
    margin-right: 5%;
}
.fa-envelope{
   color: #07ACE6;
}
.fa-phone-square-alt{
    color: #07ACE6;
}
.contact-boxes{
    margin-right: 5%;
}
.contact h8{
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    margin-bottom: 10px;
}
.contact p {
 font-size: 16px;
 font-family: 'Open Sans', sans-serif;
 margin-top:30px;
 margin-bottom: 10px;
}
.contact-form-first label{
    margin-bottom: 20px;
    color:#07ACE6 ;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.contact-form-first input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 400px;
}
.contact-form{
    margin-top: 50px;
    position: relative;
}
.contact-form button{
    position: absolute;
    bottom: -80px;
    right: 0;
    background: #07ACE6;
}
.contact-form-first{
    margin-bottom: 15px;
}
input[type="text"]{
    margin-bottom: 20px;
}
.checkboxContainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #cacaca;
        border-radius: 3px;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  .checkboxContainer .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #07ACE6;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .calculator{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  .form{
      background: #F7F7F7;
      width: 1200px;
      height: 600px;
      display: flex;
      justify-content: center;
  }
  .form h1{
      font-size: 39px;
  }
  .form-checkbox{
      display: flex;
      flex-direction: column;
  }
  .form-checbox-first{
      display: flex;
  }
  .form-checbox-second{
    display: flex;
}
.form-row input{
    border-radius: 5px;
    border: 1px solid #08A6E4;
    height: 40px;
    width: 400px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 0 0 #08A6E4;
}
.form-row input[type="text"]{
    cursor: pointer;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dropDown{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 150px;
    background: white;
    border: 1px solid #FB3B64;
    border-radius: 10px;
    box-shadow: 1px 1px #FB3B64;
    margin-bottom: 20px;
    display: none;
}
.dropDown p{
    height: 30px;
    margin: 0;
    margin: 20px 0 10px 20px;
    cursor: pointer;
}
.visability{
    display: block;
}
.text{
    position: relative;
}
.fa-arrow-circle-down{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #08A6E4;
}
.fa-arrow-circle-up{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #08A6E4;
}

/* .pElementStyle:hover{
color: #08A6E4;
cursor: pointer;
} */
.calcDivContainer{
    position: relative;
    height: 400px;
    margin: 200px 0 auto;
    display: none;
}
.calcDiv{
    margin-top: 15px;
    width: 400px;
    height: 40px;
    background: #55DFB4;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.calcDiv p{
    margin: 0;
}
.calcDiv p:nth-of-type(3){
    font-weight: bold;
    font-size: 25px;
}
.calcDiv2{
    margin-top: 15px;
    width: 400px;
    height: 40px;
    background: #55DFB4;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.calcDiv2 p{
    margin: 0 ;
}
.calcDiv2 p:nth-of-type(3){
    font-weight: bold;
    font-size: 25px;
}
.calcDiv3{
    margin-top: 15px;
    width: 400px;
    height: 40px;
    background: #55DFB4;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.calcDiv3 p{
    margin: 0;
}
.calcDiv3 p:nth-of-type(3){
    font-weight: bold;
    font-size: 25px;
}

.calcDiv4{
    margin-top: 15px;
    width: 400px;
    height: 40px;
    background: #55DFB4;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.calcDiv4 p{
    margin: 0 20px;
}
.calcDiv4 p:nth-of-type(2){
    font-weight: bold;
    font-size: 25px;
}
.calcDiv5{
    margin-top: 15px;
    width: 400px;
    height: 40px;
    background: #55DFB4;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.calcDiv5 p{
    margin: 0 20px;
}
.calcDiv5 p:nth-of-type(2){
    font-weight: bold;
    font-size: 25px;
}
.total{
    position: absolute;
    bottom: 10px;
    right: 0;
    margin-top: 15px;
    width: 200px;
    height: 60px;
    background: #08A6E4;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.total p {
    margin: 0 20px;
}
.total p:nth-of-type(2){
    font-weight: bold;
    font-size: 25px;
}


